@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local('☺'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrBlack';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: local('☺'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: local('☺'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?9g4tq');
  src:    url('../fonts/icomoon.eot?9g4tq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?9g4tq') format('truetype'),
  url('../fonts/icomoon.woff?9g4tq') format('woff');
  font-weight: normal;
  font-style: normal;
}
