// Colors

$brand-primary: #3299c0;
$brand-secondary: #ff0054;

$gray-dark: #2f3539;
$gray-darker: #2a2e2f;


// Layout

$min-height: 650px;

$screen-md-max: 993px;


// Fonts

$font-family-base: HelveticaNeueCyrLight;
$font-family-header: HelveticaNeueCyrBlack;
$font-family-regular: HelveticaNeueCyrMedium;
$font-family-accent: 'Times New Roman', Times, serif;

$screen-lg-min: 1900px;
//$screen-sm-min: 650px;
//$screen-sm-max: 650px;
