#portfolio{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url(../images/portfolio_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  @include flexbox();
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: $screen-xs-max){
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 12vh;
  }

  .logo{
    span{
      position: relative;
      font-size: .8vw;
      left: 2px;
    }
  }

  .use-mouse{
    padding-right: 1vw;
    @media only screen and (min-width: 1450px){

      margin-top: .7vw;
    }
  }

  &._rendered{

    .v-line, .v-line.bottom{
      @include translate(0, 0);
    }

    .item{

      >div{
        opacity: 1 !important;
        @include transform(rotateY(0deg) !important);
      }

    }
  }

  .v-line{
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    @include transition(all 3s ease);
    @include translate(0, -100%);
    &.bottom{
      @include translate(0, 100%);
    }
  }

  h2{

    font-size: 24px;
    font-family: $font-family-header;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;


  }

  .projects{
    span:nth-child(2){
      top: 6px !important;
      right: -20px !important;
    }
  }

  >aside{

    width: 16.7vw;
    height: 100%;
    padding-top: 18vh;

    @media only screen and (max-width: $screen-md-max){

      padding-top: 16vh;
    }

    @media only screen and (max-width: $screen-xs-max){

      display: none;
    }

    .padding{

      padding: 0 2vw;

    }

    nav {

      padding: 1vw 2vw;

      a {

        display: block;
        font-size: 10px;
        font-family: $font-family-header;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-bottom: 20px;

      }

    }

  }

  >section{

    width: 83.4vw;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);

    >section{

      &:nth-child(1){

        height: 15vh;
        @include flexbox();

        >div{

          &:nth-child(1){
            width: 33.3vw;
            padding-top: 5vh;
          }

          &:nth-child(2){
            position: relative;
            width: 33.3vw;
            padding-left: 2vw;
            padding-top: 4vh;
            h2{
              display: none;
            }
          }

          &:nth-child(3){
            width: 16.7vw;
            padding-left: 2vw;
            padding-top: 4vh;
            h3{
              margin: 0;
              font-size: 24px;
            }
          }

        }

        @media only screen and (max-width: $screen-md-max) {

          height: 10vh;
          margin-bottom: 4vh;

          >div{

            padding-top: 2vh;

            &:nth-child(1){
              display: none;
            }

            &:nth-child(2){
              width: 40vw;
              @media only screen and (max-width: $screen-md-max) {
                .logo{
                  i{
                    width: 15vw;
                    height: 3vw;
                  }
                }
                h2{
                  display: block;
                  font-size: 16px;
                  text-align: left;
                  @include translate(0, 50%);
                }
              }
            }

            &:nth-child(3){
              width: 30vw;
              border-left: 1px solid rgba(255, 255, 255, .5);
              padding-right: 3vw;
              h3{
                margin: 0;
                font-size: 18px;
                text-align: right;
              }
              p{
                text-align: right;
              }
            }

          }

        }

      }

      &:nth-child(2){

        height: 70vh;
        margin-bottom: 2vw;
        @include flexbox();

        .action{

          margin-top: 2vw;

          div{
            font-size: 33px;
            color: $brand-secondary;
          }

        }

        >div{

          &:nth-child(1){

            position: relative;
            width: 66.4vw;
            overflow: hidden;

            .cont{

              position: absolute;
              @include transition(all .5s ease);
              will-change: left;
              width: 2000vw;
              height: 100%;
              top: 0;
              left: 0;

              >div{

                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                @include flexbox();

              }

              .item{

                position: relative;
                width: 16.7vw;
                padding-top: 2vw;
                padding-left: 2vw;
                @include flexbox();
                @include flex-direction(column);
                perspective: 1000;
                -webkit-perspective: 1000;
                -moz-perspective: 1000;

                &.bottom {

                }

                >span{

                  position: absolute;
                  top: .5vw;
                  left: .5vw;
                  color: white;
                  font-family: $font-family-accent;
                  font-style: italic;

                }

                >div {

                  position: relative;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  cursor: pointer;
                  @include flex-grow(1);
                  background-image: url(../images/sample_port.jpg);
                  -webkit-background-size: cover;
                  background-size: cover;
                  background-position: left center;
                  @include transform(rotateY(20deg));
                  opacity: 0;
                  will-change: opacity, transform;
                  @include transition(all 1.2s ease);

                  >div {

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 1.5vw;
                    text-align: left;
                    background: $brand-primary;
                    color: white;
                    @include transition(all .4s ease);
                    opacity: 0;

                    h4, span{

                      @include transition(all .4s ease);
                      @include translate(0, -100%);

                    }

                    h4 {

                      font-size: 24px;
                      margin-bottom: 0;
                      text-transform: uppercase;
                      font-family: $font-family-header;

                    }

                    span {

                      font-size: 16px;
                      font-family: $font-family-accent;
                      font-style: italic;
                      margin: 0;

                    }

                    >div{

                      position: absolute;
                      top: 50%;
                      left: 50%;
                      width: 1px;
                      height: 50%;
                      background: rgba(255, 255, 255, .5);
                      @include transition(all 3s ease-out);
                      @include transform(translate(-50%, -50%) scaleY(0));

                    }

                    &:hover {

                      opacity: 1;

                      >h4, span{

                        @include translate(0, 0);

                      }

                      > div {

                        opacity: 1;
                        @include transform(translate(-50%, -50%) scaleY(1));

                      }

                    }

                  }

                }

              }

            }

            @media only screen and (max-width: $screen-md-max) {

              .cont{

                width: 100%;

                >div{
                  @include flex-direction(column);
                  @include flex-wrap(wrap);
                  width: 100%;
                }

                .item{

                  width: 100%;
                  padding-top: 3vw;
                  padding-left: 3vw;
                  padding-bottom: 3vw;
                  padding-right: 12vw;

                  >div{

                    height: 14vh;

                  }

                }

              }

            }

            @media only screen and (max-width: $screen-xs-max) {
              .cont{

                width: 100%;

                >div{
                  height: auto;
                  overflow: hidden;
                  width: 100%;
                  padding-bottom: 30vh;
                }

                .item{

                  width: 100%;
                  padding-top: 3vw;
                  padding-left: 6vw;
                  padding-bottom: 3vw;
                  padding-right: 3vw;

                  >div{

                    height: 20vh;

                  }

                  span {
                    top: -2.5vw;
                    left: 1.5vw;
                  }

                }

              }
            }

          }

          &:nth-child(2){

            width: 16.7vw;
            padding-left: 2vw;

          }

          @media only screen and (max-width: $screen-md-max) {

            &:nth-child(1){
              width: 100%;
            }

            &:nth-child(2){
              display: none;
            }

          }

        }

        @media only screen and (max-width: $screen-md-max) {

          height: 76vh;

        }

        @media only screen and (max-width: $screen-xs-max) {

          height: auto;

        }


      }

      &:nth-child(3){

        @include flexbox();
        @include flex-grow(1);

        >div{

          &:nth-child(1){

            width: 33.3vw;
            @include flexbox();

            >div{

              width: 16.7vw;
              padding-left: 2vw;

            }

          }

          &:nth-child(2){

            position: relative;
            width: 50vw;
            @include flexbox();

            >div{

              width: 16.7vw;
              padding-left: 2vw;

            }

          }

        }

        @media only screen and (max-width: $screen-md-max) {

          >div{

            &:nth-child(1){
              display: none;
            }

            &:nth-child(2){
              width: 100%;
              >div{
                width: 33.3%;
              }
            }

          }

        }

      }

    }

  }

  .bottom-links{

    @include flexbox();

    height: 11.5vh;

    .v-line{
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      left: -40px;
      background: rgba(255, 255, 255, .5);
    }

    >div{

      position: relative;
      width: 25%;

      &:nth-child(1){
        margin-left: 50%;
      }

      &:nth-child(2){
        div{
          margin-left: 3vw;
        }
      }

      &:nth-child(3){
        display: none;
      }
    }

    @media only screen and (max-width: $screen-md-max) {

      height: 9vh;

      >div{

        width: 33.3%;
        padding-left: 3vw;

        &:nth-child(1){
          margin-left: 0;
          margin-top: 20px;
        }

        &:nth-child(2){
          div{
            float: left;
          }
        }

        &:nth-child(3){
          display: block;
        }

      }

    }

    @media only screen and (max-width: $screen-xs-max) {

      height: 33vh;
      @include flex-wrap(wrap);

      >div{

        width: 100%;
        padding-left: 3vw;
        @include flex-grow(0);
        @include flex-shrink(0);
        margin-top: -7px;

        h5{
          font-size: 10px;
        }

        &:nth-child(1){
          margin-left: 0;
          text-align: center;
          .links{
            a{
              margin: 5px 20px;
              font-size: 18px;
            }
          }
        }

        &:nth-child(2){
          width: 50%;
          div{
            float: left;
          }
          i{
            width: 80px;
            margin-top: 10px;
          }
        }

        &:nth-child(3){
          width: 50%;
          display: block;
          text-align: right;
          h5{
            padding-right: 20px;
          }
          >div{
            float: right;
            margin-right: 12px;
            a{
              margin-left: 8px;
            }
          }
        }

      }

    }


  }

  @media only screen and (max-width: $screen-md-max) {

    >aside{
      width: 30vw;
    }

    >section{
      width: 70vw;
    }

  }

  @media only screen and (max-width: $screen-xs-max){
    >section{
      width: 100vw;
      height: auto !important;
      >section:nth-child(2){
        >div:nth-child(1){
          overflow: visible;
          >.cont{
            > div{
              display: block !important ;
              padding-top: 10px;
            }
          }
        }
      }
      >section:nth-child(3){
        display: none;
      }
    }
  }

}
